<%= form_with model: @article, local: true do |f| %>

<div class="form-group">
<%= f.label :タイトル %>
<%= f.text_field :title, size:30 %>
</div>

<div class="form-group">
<%= f.label :本文 %>
<%= f.text_area :body, row:5 %>
</div>

<div class="form-group">
<%= f.label :レベル %>
<%= f.select :level, Article.levels.keys, {prompt: "選択して下さい"} %>
</div>

<%= f.submit "投稿する" %>

<% end %>