<%= form_with model: @score, url: tests_path, local: true do |f| %>

  <% @tests.each do |test| %>

    <%= f.fields_for :results do |i| %>
      <p><%= test.content %></p>
      <label><%= i.radio_button :selection_result, 1 %><%= test.choice1 %></label>
      <label><%= i.radio_button :selection_result, 2 %><%= test.choice2 %></label>
      <label><%= i.radio_button :selection_result, 3 %><%= test.choice3 %></label>
      <label><%= i.radio_button :selection_result, 4 %><%= test.choice4 %></label>
      <%= i.hidden_field :test_id, value: test.id %>
    <% end %>

  <% end %>
<p><%= f.submit "回答する" %></p>
<% end %>
